* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
  cursor: default;
}

html {
  height: 500vh;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;

  p {
    color: #ffffff;
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    transition: 1s;
    li {
      display: inline-block;
      margin: 0 40px;
    }

  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

header.rolagem {
  padding: 5px 4%;
  background-color: rgba(105, 0, 131, 0.9);

  a {
    color: rgb(0, 0, 0);
  }

  p {
    color: rgb(0, 0, 0);
  }
}

header.rolagem2 { 
  background-color: rgba(105, 0, 131, 0.2);
  a {
    color: rgb(0, 0, 0);
    font-size: 15px;
  }

  p {
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
}

.custom-alert {
  position: fixed;
  top: 100px;
  right: 200px;
  z-index: 9999;
}

.banner {
  background-image: url(/Portifolio/assets/banner.jpg);
  /* /Portifolio */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 4em;
    color: white;

    span {
      color: rgb(105, 0, 131);
    }
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(234, 152, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(78, 0, 97, 0.8);
}

.sobre-mim {
  font-size: 18px;
  #texto-principal {
    font-size: 20px;
  }

  h2 {
    color: rgb(105, 0, 131);
  }

  #front-end {
    color: #800901;
    margin: 5px 0;
  }

  #back-end {
    color: #1c7202;
    margin: 5px 0;
  }

  #banco-de-dados {
    color: #90a000;
    margin: 5px 0;
  }

  #projetos-pessoais {
    color: #035e59;
    margin: 5px 0;
  }

  #habilidades-interpessoais {
    color: #791574;
    margin: 5px 0;
  }

  .linha {
    border: #f70505 solid 1px;
  }

  .linha1 {
    border: #f70505 solid 1px;
    height: 77px;
  }

  p {
    color: #000000;
    font-size: 18px;
  }

}

.contato {
  h2 {
    color: rgb(105, 0, 131);
  }

  #numero {

    #numero-span {
      color: #026127;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: #04b849;
      }
    }

    #numero-ddd {
      color: #026127;
      font-size: 20px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  #email {

    #email-span {
      color: #160479;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: #472cdf;
      }

    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .linha {
    border: #33b9ae solid 1px;
  }

  p {
    color: #000000;
    font-size: 18px;
  }
}

.redes {
  h2 {
    color: rgb(105, 0, 131);
  }

  #linkedin {

    #linkedin-link {
      color: #047a7e;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: #07b5bb;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  #github {
    #github-link {
      color: #160479;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: #4529e2;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .linha {
    border: #058817 solid 1px;
  }

  p {
    color: #000000;
    font-size: 18px;
  }
}

.projetos {
  img {
    height: 150px;
    width: 200px;
  }

  div {
    .btn {
      background-color: #3f034e;
      border: 0;

      &:hover {
        cursor: pointer;
        background-color: #670480;
        transition: 0.2s;
      }
    }
  }
}

.linha {
  border: #ac097b solid 1px;
  width: 30%;
  margin: 2rem auto;
}