* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
  cursor: default;
}

html {
  height: 500vh;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
}
header p {
  color: #ffffff;
  font-size: 30px;
}
header ul {
  list-style-type: none;
  transition: 1s;
}
header ul li {
  display: inline-block;
  margin: 0 40px;
}
header a {
  color: #ffffff;
  text-decoration: none;
}

header.rolagem {
  padding: 5px 4%;
  background-color: rgba(105, 0, 131, 0.9);
}
header.rolagem a {
  color: rgb(0, 0, 0);
}
header.rolagem p {
  color: rgb(0, 0, 0);
}

header.rolagem2 {
  background-color: rgba(105, 0, 131, 0.2);
}
header.rolagem2 a {
  color: rgb(0, 0, 0);
  font-size: 15px;
}
header.rolagem2 p {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.custom-alert {
  position: fixed;
  top: 100px;
  right: 200px;
  z-index: 9999;
}

.banner {
  background-image: url(/Portifolio/assets/banner.jpg);
  /* /Portifolio   path para o banner aparecer no pages.*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 4em;
  color: white;
}
.banner h1 span {
  color: rgb(105, 0, 131);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(234, 152, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(78, 0, 97, 0.8);
}

.sobre-mim {
  font-size: 18px;
}
.sobre-mim hr {
  border: #ff0000 solid 2px;
  border-radius: 10px;
}
.sobre-mim #texto-principal {
  font-size: 20px;
}
.sobre-mim h2 {
  color: rgb(105, 0, 131);
}
.sobre-mim #front-end {
  color: #800901;
  margin: 5px 0;
}
.sobre-mim #back-end {
  color: #1c7202;
  margin: 5px 0;
}
.sobre-mim #banco-de-dados {
  color: #90a000;
  margin: 5px 0;
}
.sobre-mim #projetos-pessoais {
  color: #035e59;
  margin: 5px 0;
}
.sobre-mim #habilidades-interpessoais {
  color: #791574;
  margin: 5px 0;
}
.sobre-mim .container .linha {
  border: #f70505 solid 1px;
}
.sobre-mim p {
  color: #000000;
  font-size: 18px;
}

.contato h2 {
  color: rgb(105, 0, 131);
}
.contato hr {
  border: #00ad2b solid 2px;
  border-radius: 10px;
}
.contato #numero #numero-span {
  color: #026127;
  font-size: 20px;
  cursor: pointer;
}
.contato #numero #numero-span:hover {
  color: #04b849;
}
.contato #numero #numero-ddd {
  color: #026127;
  font-size: 20px;
}
.contato #numero img {
  width: 20px;
  height: 20px;
}
.contato #email #email-span {
  color: #160479;
  font-size: 20px;
  cursor: pointer;
}
.contato #email #email-span:hover {
  color: #472cdf;
}
.contato #email img {
  width: 20px;
  height: 20px;
}
.contato p {
  color: #000000;
  font-size: 18px;
}

.redes h2 {
  color: rgb(105, 0, 131);
}
.redes hr {
  border: #0089b3 solid 2px;
  border-radius: 10px;
}
.redes #linkedin #linkedin-link {
  color: #047a7e;
  font-size: 20px;
  text-decoration: none;
}
.redes #linkedin #linkedin-link:hover {
  color: #07b5bb;
}
.redes #linkedin img {
  width: 20px;
  height: 20px;
}
.redes #github #github-link {
  color: #160479;
  font-size: 20px;
  text-decoration: none;
}
.redes #github #github-link:hover {
  color: #4529e2;
}
.redes #github img {
  width: 20px;
  height: 20px;
}
.redes p {
  color: #000000;
  font-size: 18px;
}

.projetos h2 {
  color: rgb(105, 0, 131);
}
.projetos hr {
  border: #221374 solid 2px;
  border-radius: 10px;
}
.projetos div .btn {
  background-color: #3f034e;
  border: 0;
}
.projetos div .btn:hover {
  cursor: pointer;
  background-color: #670480;
  transition: 0.2s;
}/*# sourceMappingURL=index.css.map */